<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "/css/syntax.css" }}">

<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/modern-business.css">
<link rel="stylesheet" type="text/css" href="/css/customstyles.css">
<link rel="stylesheet" type="text/css" href="/css/boxshadowproperties.css">
<link rel="stylesheet" type="text/css" href="/css/theme-blue.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>
<script src="{{ "/js/jquery.navgoco.min.js" }}"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/anchor.min.js"></script>
<script src="{{ "/js/toc.js" }}"></script>
<script src="{{ "/js/customscripts.js" }}"></script>

<link rel="shortcut icon" href="{{ "/images/favicon.png"  }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
