{% assign pages = site.pages | sort:"weight"  %}
{% assign next = page.order | plus:"1" %}
{% assign prev = page.order | minus:"1" %}
{% assign guide = page.permalink | split: "/" | first %}
<center>
{% if prev >= 0 and page != pages.first %}
  {% for p in pages %}
    {% assign g = p.permalink | split: "/" | first %}
      {% if p.order == prev and g == guide %}
        {% assign had_prev = 1 %}
        <a href="{{site.baseurl}}{{p.url}}">← Prev</a>
    {% endif %}
  {% endfor %}
{% endif %}
{% if next >= 0 and page != pages.last %}
  {% for p in pages %}
    {% assign g = p.permalink | split: "/" | first %}
    {% if p.order == next and g == guide%}
        {% if had_prev == 1 %} | {% endif %}
        <a href="{{site.baseurl}}{{p.url}}">Next →</a>
    {% endif %}
  {% endfor %}
{% endif %}
</center>
